body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
}
h2 {
    color: #ddd;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.container {
    margin-top: 20px;
}



.advertisement {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.advertisement h3 {
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
}



.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}



form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}



.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}